* {
    margin: 0;
    padding: 0;
    outline: 0;
    user-select: none !important;
    font-family: "Graphik",-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.unselectable {
    cursor: col-resize !important;
}

.unselectable > * {
    background-color: none !important;
    pointer-events: none !important;
}

.unselectable:after {
    content: '';
    position: absolute;
    width: 100%; height: 100%;
    top: 0; left: 0;
}