@use "reset";

body {
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
    cursor: pointer;

    main {
        position: absolute;

        canvas#grid {
            position: absolute;
        }

        section#board {
            position: absolute;

            &.active {

               div.memo {
                    user-select: none !important;
                    -ms-user-select: none !important;
               }

            }

            div#selection {
                position: absolute;
                background-color: rgba(0, 0, 0, 0.05);
            }

            div.memo {
                background-color: white;
                position: absolute;
                min-width: 80px;
                min-height: 80px;
                border: 1px solid black;
                user-select: none;

                &.active {
                    user-select: auto;
                    box-shadow: 10px 10px rgba(0, 0, 0, 0.25);
                    user-select: none !important;
                    -ms-user-select: none !important;
                }
                div.close {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    color: black;
                    font-size: 10px;
                    font-weight: normal;
                    text-align: center;
                    line-height: 15px;
                    width: 16px;
                    height: 16px;
                    border-bottom: 1px solid black;
                }

                div.drag {
                    cursor: grab;
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    width: 100%;
                    height: 16px;
                    border-bottom: 1px solid black;
                }

                textarea.input {
                    position: absolute;
                    top: 17px;
                    left: 0px;
                    width: calc(100% - 32px);
                    height: calc(100% - 49px);
                    padding: 16px;
                    margin: 0;
                    border: 0;
                    outline: 0;
                    resize: none;
                    overflow: auto;
                    font-family: monospace;
                    font-size: 13px;
                    cursor: text;

                    scrollbar-color:rgba(0, 0, 0, 1.0) rgba(0, 0, 0, 0.0);
                    scrollbar-width: thin;

                    &::-webkit-scrollbar {
                        width: 1px;
                        height: 6px;
                    }
                    &::-webkit-scrollbar-track {
                        margin-top: 8px;
                        margin-bottom: 13px;
                        background: rgba(0, 0, 0, 0.0);
                    }
                    &::-webkit-scrollbar-thumb {
                        background: rgba(0, 0, 0, 1.0);
                    }
                    &::-webkit-scrollbar-thumb:hover{
                        background: rgba(0, 0, 0, 1.0);
                    }
                    &::-webkit-scrollbar-thumb:active{
                        background: rgba(0, 0, 0, 1.0);
                    }

                    &::placeholder {
                        color: rgba(0, 0, 0, 0.4);
                    }
                }

                div.resize {
                    cursor: nw-resize;
                    position: absolute;
                    background-color: white;
                    right: 0px;
                    bottom: 0px;
                    width: 6px;
                    height: 6px;
                    border-top: 1px solid black;
                    border-left: 1px solid black;
                }
            }
        }
    }
}