@use "reset";

body {
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
    cursor: pointer;

    main {
        position: absolute;

        canvas#grid {
            position: absolute;
        }

        section#board {
            position: absolute;

            div#selection {
                position: absolute;
                background-color: rgba(0, 0, 0, 0.05);
            }

            div.memo {
                background-color: white;
                position: absolute;
                min-width: 80px;
                min-height: 80px;
                border: 1px solid black;
                user-select: none;

                &.active {
                    user-select: auto;
                    box-shadow: 10px 10px rgba(0, 0, 0, 0.25);
                }
                div.close {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    color: black;
                    font-size: 10px;
                    font-weight: normal;
                    text-align: center;
                    line-height: 15px;
                    width: 16px;
                    height: 16px;
                    border-bottom: 1px solid black;
                }

                div.drag {
                    cursor: grab;
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    width: 100%;
                    height: 16px;
                    border-bottom: 1px solid black;
                }

                textarea.input {
                    position: absolute;
                    top: 17px;
                    left: 0px;
                    width: calc(100% - 32px);
                    height: calc(100% - 49px);
                    padding: 16px;
                    margin: 0;
                    border: 0;
                    outline: 0;
                    resize: none;
                    overflow: hidden;
                    font-family: monospace;
                    font-size: 12px;
                    cursor: text;

                    &::placeholder {
                        color: rgba(0, 0, 0, 0.4);
                    }
                }

                div.resize {
                    cursor: nw-resize;
                    position: absolute;
                    right: 0px;
                    bottom: 0px;
                    width: 6px;
                    height: 6px;
                    border-top: 1px solid black;
                    border-left: 1px solid black;
                }
            }
        }
    }
}