{
	"extends": "standard",
	"parser": "babel-eslint",
	"env": {
        "browser": true
    },
	"rules": {
		"no-underscore-dangle": ["error", { "enforceInMethodNames": false, "allowAfterThis": true }],
		"no-tabs": 0,
		"semi": [2, "always"],
		"indent": ["error", 2],
		"quotes": [2, "double", { "avoidEscape": true }],
		"space-before-function-paren": ["error", {
			"anonymous": "always",
			"named": "never",
			"asyncArrow": "always"
		}]
	}
}