.card {
    background-color: white;
    position: absolute;
    min-width: 152px;
    min-height: 152px;
    border: 1px solid black;

    &.active {
        user-select: none;
        box-shadow: 10px 10px rgba(0, 0, 0, 0.25);
    }

    .drag {
        cursor: grab;
        position: relative;
        width: 100%;
        height: 16px;
        border-bottom: 1px solid black;
    }

    .resize {
        cursor: nw-resize;
        position: absolute;
        right: 0px;
        bottom: 0px;
        width: 8px;
        height: 8px;
        border-top: 1px solid black;
        border-left: 1px solid black;
    }
}