textarea {
    position: absolute;
    width: calc(100% - 16px);
    height: calc(100% - 33px);
    padding: 8px;
    margin: 0;
    border: 0;
    outline: 0;
    resize: none;
    overflow: hidden;
    font-size: 13px;
    cursor: text;
}