textarea {
    position: absolute;
    top: 28px;
    left: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 38px);
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    resize: none;
    overflow: hidden;

    font-size: 13px;
}